@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
 
* {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 90px;
    font-family: 'Oleo Script Swash Caps';
    text-align: center;
    color:black;
    padding-top: 100px;
    text-decoration-style: solid;
}

body{
    background-color:rgb(178, 204, 230);
    border: white 5px;
    border-style: solid;
} 

.card{
    align-items: center;
    border-style: hidden;
}

.nav{
    background-color:cornflowerblue;
} 

.bttn{
    font-family: 'Oswald';
    
}

.card-text1{
    font-family: 'Lora';
    font-size: 30px;
    text-align: center;
    font-style: italic;
}

.card-text{
    font-family: 'Montserrat';
    font-size: 18px;
    text-decoration: solid;
}

.card-title{
    font-family: 'Oleo Script Swash Caps';
    font-size: 25px;
    text-decoration: solid;
}